.container {
    max-width: 1780px;
    padding: 0 30px;
    width: 100%;
    margin: 0 auto;
    @media (max-width: 768px) {
        padding: 0 20px;
    }
}

.page-block {
    background: $block-bg;
    border-radius: 6px;
    padding: 10px;
    &__inner {
        border: 2px solid #363636;
        border-radius: 6px;
        padding: 30px;
        height: 100%;
        &--big {
            padding: 50px;
        }
    }
    &__title {}
    &__icon {
        position: absolute;
        right: -30px;
        img {
            width: 20px;
            height: 20px;
        }
    }
    @media (max-width: 768px) {
        margin-left: -20px!important;
        margin-right: -20px!important;
        position: relative;
        // width: 100vw;
    }
}

.section-bg {
    padding-top: 140px;
    overflow: hidden;
    &__inner {
        position: relative;
        padding-top: 120px;
    }
    &__logo {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, -100px);
        z-index: 1;
    }
    &__ellipse {
        background-color: #23221E;
        width: 150%;
        height: 100vw;
        clip-path: ellipse(50% 31% at 50% calc(31%));
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }
    &__body {
        padding-bottom: 10px;
        background: #23221E;
    }
}