.icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(225.92deg, #cdb185 2.19%, #ebd3ae 101.5%);
}

.btn {
    width: 230px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(225.92deg, #CDB185 2.19%, #EBD3AE 101.5%);
    border-radius: 4px;
    color: $color2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    transition: all 0.4s ease;
    cursor: pointer;
    img {
        margin-right: 10px;
    }
    &--squere {
        width: 60px;
        height: 60px;
    }
    &:hover,
    &:focus {
        box-shadow: 0px 0px 20px rgba(225, 199, 160, 0.5);
    }
    &:active {
        box-shadow: none;
    }
    &:disabled {
        background: #C2C2C2;
        box-shadow: none;
        cursor: auto;
        pointer-events: none;
    }
}

.title {
    font-weight: 300;
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 50px;
    @media (max-width: 1200px) {
        margin-bottom: 30px;
    }
    @media (max-width: 650px) {
        font-size: 36px;
        line-height: 48px;
    }
}

.dl {
    font-size: 16px;
    line-height: 16px;
    &__row {
        display: flex;
        align-content: center;
        justify-content: space-between;
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
    &__dt {
        flex: 60% 0 1;
        max-width: 60%;
    }
    &__dd {
        flex: 40% 0 1;
        max-width: 40%;
        color: $color1;
    }
}

.table {
    width: 100%;
    font-size: 16px;
    line-height: 16px;
    border: 0;
    border-collapse: collapse;
    &__wrapper {}
    &__scroll-wrapper {
        max-height: 480px;
    }
    &__caption {
        margin-top: 30px;
        font-size: 16px;
        line-height: 16px;
        padding-left: 30px;
    }
    thead {
        background-color: $block-bg;
        color: $color1;
        td {
            height: 80px;
        }
    }
    tbody {
        td {
            border-bottom: 1px solid $border-color;
        }
    }
    tr {
        padding: 0 30px;
    }
    td {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    td:first-child {
        padding-left: 30px;
        padding-right: 0;
    }
}

.tabs {
    &__list {}
    &__item {
        // display: none;
        &.active {
            display: block;
        }
    }
    &__nav {
        margin-top: 50px;
    }
    &__button {
        background: $block-bg;
        color: white;
        margin-right: 10px;
        &.active {
            color: $color2;
            background: linear-gradient(225.92deg, #CDB185 2.19%, #EBD3AE 101.5%);
        }
    }
}

.dl-end {
    font-size: 16px;
    line-height: 16px;
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 235px;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
    &__dt {}
    &__dd {
        color: $color1;
    }
}

.slider {
    &__nav {
        padding-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.swiper-button-prev,
.swiper-button-next {
    position: static;
    margin: 0 15px;
    &:after {
        background: url(../img/icons/slider-arrow.svg) center no-repeat;
        font-size: 0;
        width: 100%;
        height: 100%;
    }
}

.swiper-button-prev {}

.swiper-button-next {
    &::after {
        transform: rotate(180deg);
    }
}

.marquee {
    width: 100%;
    overflow: hidden;
}

.text {
    &__title {}
    &__description {
        font-weight: normal;
        font-size: 18px;
        line-height: 26px;
        p {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }
    &__figure {
        margin-top: 50px;
        img {
            margin-bottom: 30px;
        }
        figcaption {
            font-size: 18px;
            line-height: 26px;
            color: $color1;
        }
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .text__figure {
        margin-top: 40px;
        margin-bottom: 20px;
        img {
            max-width: 100%;
            width: auto;
            height: auto;
            margin-bottom: 20px;
        }
    }
}

.see {
    &__title {
        font-weight: 300;
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 20px;
    }
    &__slider {
        padding-bottom: 40px;
    }
    &__wrapper {
        position: relative;
        width: 100%;
        height: 130px;
        overflow: hidden;
        border-radius: 12px;
        padding: 10px;
        &:after {
            display: block;
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: linear-gradient(0deg, rgba(33, 33, 33, 0.79), rgba(33, 33, 33, 0.79))
        }
    }
    &__img {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        img {
            object-fit: cover;
            width: 100%;
        }
    }
    &__inner {
        position: relative;
        border: 2px solid #363636;
        border-radius: 6px;
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 50px;
        z-index: 1;
    }
    &__name {
        font-weight: 300;
        font-size: 32px;
    }
    .swiper-pagination {
        bottom: 5px;
    }
    .swiper-pagination-bullet {
        width: 14px;
        height: 14px;
        background-color: #fff;
        opacity: 1;
    }
    .swiper-pagination-bullet-active {
        background: linear-gradient(225.92deg, #CDB185 2.19%, #EBD3AE 101.5%)
    }
}

.preview {
    position: relative;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    &__img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    &__title {
        font-weight: 100;
        font-size: 120px;
        line-height: normal;
        position: relative;
        text-align: center;
        @media (max-width: 1200px) {
            font-size: 48px;
            line-height: 48px;
        }
    }
}