.layout {
    &__right-btn {
        display: flex;
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}

.login {
    &__title {}
    &__item {
        margin-bottom: 20px;
    }
    &__message {
        margin-top: 10px;
        display: block;
        color: $color1;
    }
    &__btn {
        margin-top: 10px;
    }
}

.calculation {
    &__title {}
    &__item {
        margin-bottom: 20px;
    }
    &__select {}
    &__button {
        margin-top: 10px;
        width: 100%;
    }
    .select__current,
    .select,
    .select--typical .select__list {
        width: 100%;
    }
}

.rewards {
    &__title {
        margin-bottom: 20px;
    }
    &__slider {
        .swiper-button-next,
        .swiper-button-prev {
            position: absolute;
            margin: 0 -10px;
            margin-top: calc(-1 * var(--swiper-navigation-size)/ 2);
        }
    }
    &__slide {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.swiper-container {}

.swiper-wrapper {}

.swiper-slide {}

.swiper-button-prev {}

.swiper-button-next {}

.aside-news {
    &__title {
        margin-bottom: 40px;
    }
    &__input {
        resize: none;
        width: 100%;
        height: 223px;
    }
}